import Controller from './Controller';
import Service from '../services/Service'
import {{{classname}}}Service from '../services/{{{classname}}}Service';


export default class {{{classname}}}Controller extends Controller {
  service:{{{classname}}}Service;
  constructor(service: {{{classname}}}Service) {
    super( service );
    this.service = service;
  }

{{#operations}}
{{#operation}}
  async {{operationId}}(request : any, response : any) {
    await Controller.handleRequest(request, response, this.service.{{operationId}});
  }

{{/operation}}
}

{{/operations}}
