//const Controller = require('./Controller');
import Controller from './Controller';
import Service from '../services/Service'
import {{{classname}}}Service from '../services/{{{classname}}}Service';


class {{{classname}}}Controller extends Controller {
  constructor(service: Service) {
    super( service );
  }

{{#operations}}
{{#operation}}
  async {{operationId}}(request : any, response : any) {
    await Controller.handleRequest(request, response, {{{classname}}}Service.{{operationId}});
  }

{{/operation}}
}

module.exports = {{classname}}Controller;
{{/operations}}
