import Controller from './Controller';
import Service from '../services/Service'
import {{{classname}}}Service from '../services/{{{classname}}}Service';


export default class {{{classname}}}Controller extends Controller {
  service:{{{classname}}}Service;
  constructor(service: {{{classname}}}Service) {
    super( service );
    this.service = service;
  }

{{#operations}}
{{#operation}}
  async {{operationId}}(request : any, response : any) {
    try {
      const requestParams = Controller.collectRequestParams(request);
      const serviceResponse = await this.service.{{operationId}}(requestParams);
      await Controller.sendResponse(response, serviceResponse);
    } catch( error ) {
      Controller.sendError(response,error);
    }
  }

{{/operation}}
}

{{/operations}}
