/* eslint-disable no-unused-vars */
import Service from './Service';
import * as Models from '../api/src/models';

export default class {{{classname}}}Service extends Service {

{{#operations}}
{{#operation}}
  /**
   {{#summary}}
   * {{{summary}}}
   {{/summary}}
   {{#notes}}
   * {{{notes}}}
   {{/notes}}
   *
  {{#allParams}}
   * {{paramName}} {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
  {{/allParams}}
  {{^returnType}}
   * no response value expected for this operation
  {{/returnType}}
  {{#returnType}}
   * returns {{{returnType}}}
  {{/returnType}}
   **/
  async {{{operationId}}}({ {{#allParams}}{{#-first}} {{/-first}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{#-last}} {{/-last}}{{/allParams}} } : {{{operationId}}}Payload ) {
        try {
          return await Service.successResponse('', 501);
        } catch (e) {
          return await Service.rejectResponse(e.message || 'Invalid input', e.status || 405);
        }
    }

{{/operation}}
}

{{/operations}}

{{#operations}}
    {{#operation}}
export interface {{{operationId}}}Payload { {{#allParams}}{{#-first}} {{/-first}}
        {{paramName}}{{^required}}?{{/required}}:{{{dataType}}};{{/allParams}}
}

    {{/operation}}
{{/operations}}