{{#apiInfo}}
    {{#apis}}
        {{#operations}}
            {{#operation}}
                {{#-first}}
import * as {{classname}}Controller from './{{classname}}Controller';
                {{/-first}}
            {{/operation}}
        {{/operations}}
    {{/apis}}

export {
    {{#apis}}
        {{#operations}}
            {{#operation}}
                {{#-first}}
    {{classname}}Controller,
                {{/-first}}
            {{/operation}}
        {{/operations}}
    {{/apis}}
}
{{/apiInfo}}