{{#apiInfo}}
    {{#apis}}
        {{#operations}}
            {{#operation}}
                {{#-first}}
import * as {{classname}}Service from './{{classname}}Service';
                {{/-first}}
            {{/operation}}
        {{/operations}}
    {{/apis}}

export {
    {{#apis}}
        {{#operations}}
            {{#operation}}
                {{#-first}}
    {{classname}}Service,
                {{/-first}}
            {{/operation}}
        {{/operations}}
    {{/apis}}
}
{{/apiInfo}}