export default class Service {
static rejectResponse(error: string, code: number = 500) {
return { error, code };
}

static successResponse(payload: string, code: number = 200) {
return { payload, code };
}
}
